{% extends 'base.html.twig' %}

{% block title %}Departement{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="btn text-center pb-2 fa fa-3x" >Departement : {{ county.label }}</h1>
    </div>

    <div class="container">
        <h2>Les derniers objets trouvés dans le departement {{ county.label}}</h2>

        <section class="row">
            <article class="col-md-3">
                {% for traobject in traobjects if traobject.state.label == "trouvé" %}

                    {% include 'traobject/card.html.twig' with {'traobject' : traobject} only %}

                {% endfor %}
            </article>
        </section>
    </div>

    <div class="container">
        <h2>Les derniers objets perdus dans le departement {{ county.label }}</h2>
        <section class="row">
            <article class="col-md-3">

                {% for traobject in traobjects if traobject.state.label == "perdu" %}

                    {% include 'traobject/card.html.twig' with {'traobject' : traobject} only %}

                {% endfor %}
            </article>
        </section>
    </div>
{% endblock %}
