{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="container col-md-6">
    <h1>Editer son profil</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    </div>

{% endblock %}
